.container {
  width: 100%;
  height: 100vh;
  background: url("../assets/LoginAssets/bluebg.png") center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formContainer {
  width: 100%;

  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.formNestedContainer {
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 0 14px 0 14px;
}

.formHeading {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px; /* Add some space between the heading and the input */
  text-align: center; /* Center align if necessary */
}

.inputField {
  max-width: 400px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.centerIcon {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.emailInput {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.emailInput::placeholder {
  color: #aaa;
  font-weight: 500;
}

.submitButton {
  width: 88%;
  height: 45px;
  background-color: #0ea5e9; /* Green background */
  color: white; /* White text */
  border: none;
  border-radius: 55px; /* Rounded corners */
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px; /* Space between input and button */
}

.submitButton:hover {
  background-color: #0ea5e9; /* Darker green on hover */
}

/* Add this to your EmailStyle.module.css */

.backButton {
  width: 88%;
  height: 45px;
  background-color: #d9534f; /* Red background */
  color: white; /* White text */
  border: none;
  border-radius: 55px; /* Rounded corners */
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px; /* Space between input and button */
}

.backButton:hover {
  background-color: #c9302c; /* Darker red on hover */
}
